{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% translate "Wprowadź Nowego Pacjenta." as title %}
{% block container %}
<div class="container-fluid">
        <div class="row">

            <div width="100%" style="min-width: 400px; margin: 0 auto; margin-top: 20px; border: 3px red solid; padding: 20px; border-radius: 20px; margin-bottom: 18px; background-color: white;">

                <hr>
                    <h3 class="text-center">
                        Szpital Bielański
                    </h3>
                <hr>
                <form role="form" class="form"method="post">
                    {% csrf_token %}
{#                    <input#}
{#                            type="hidden"#}
{#                            readonly=""#}
{#                            class="select"#}
{#                            required=""#}
{#                            id="id_hospital"#}
{#                            value="{{ fields.hospital.value }}"#}
{#                    />#}
                    <div class="form-group">
                        <label for="exampleInput">
                            Numer dokumentu:
                        </label>
                        <input
                                type="text"
                                name="number"
                                maxlength="128"
                                class="textinput textInput form-control"
                                id="id_number"
                                style="border-radius: 20px; border: 2px #5bc0de solid; max-width:400px; height: 40px;"
                        />
                    </div>
                    <div class="form-group">

                        <label for="exampleInput">
                            Saturacja przed:
                        </label>
                        <input type="number" name="sat_begin" step="any" class="form-control" required=""
                               id="id_sat_begin" style="border-radius: 20px;
                        border: 2px #5bc0de solid; max-width:400px; height: 40px;"/>
                    </div>
                    <div class="form-group">

                        <label for="exampleInput2">
                            Saturacja po:
                        </label>
                        <input
                            type="number"
                            name="sat_end"
                            step="any"
                            class="form-control"
                            required=""
                            id="id_sat_end"
                            style="border-radius: 20px; border: 2px #5bc0de solid; max-width:400px; height: 40px;"
                        />
                    </div>
                    <hr>

                    <center>
                        <button style="border-radius: 20px; border: 2px #5bc0de solid; background: white !important; color: black;" class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="Respirator"><i style="color: black;" class="fas fa-2x fa-lungs"></i></button>&nbsp;&nbsp;&nbsp;
                        <button style="border-radius: 20px; border: 2px #5bc0de solid; background: white !important; color: black;" class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="Tlen"><i style="color: black;" class="fas fa-2x fa-wind"></i></button>&nbsp;&nbsp;&nbsp;
                        <button style="border-radius: 20px; border: 2px #5bc0de solid; background: white !important; color: black;" class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="Dla dzieci"><i style="color: black;" class="fas fa-2x fa-baby"></i></button>
                    </center>

                    <hr>
{#                    <h5 class="text-center">#}
{#                        Kod biletu: <b>123456789</b>#}
{#                    </h5>#}
{#                    <h5 class="text-center">#}
{#                        Numer łóżka: <b>123</b>#}
{#                    </h5>#}
                    <h5 class="text-center">
                        ID operatora: <b>789</b>
                    </h5>

                    <hr>

                    <button type="submit" class="btn btn-primary" style="border-radius: 20px; border: 2px #ff0000 solid; background: white !important; color: black;">
                        <i style="color: black;" class="fas fa-times"></i>&nbsp; <b>Anuluj</b>
                    </button>

                    <button type="submit" style="float: right; border-radius: 20px; border: 2px #5bc0de solid; background: white !important; color: black;" class="btn btn-primary">
                       <i style="color: black;" class="fas fa-save"></i>&nbsp; <b>Przypisz</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock container %}
