{% extends "base.html" %}
{% load i18n %}

{% translate "Lista Zleceń na Łóżka" as title %}
{% block container %}
    <h2>
        <center>{{ hospital.code }} {{ hospital.name }}</center>
    </h2>
    <h3>
        <center>{{ hospital.address }}</center>
    </h3>
    <br>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a
                    {% if mode == "all" %}
                        class="nav-link active" aria-current="page"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'ticket-list' hospital.pk "all" %}"
            >
                <i style="color: black;" class="fas fa-infinity"></i>&nbsp;
                {% translate "Wszystkie Zlecenia" %}
            </a>
        </li>
        <li class="nav-item">
            <a
                    {% if mode == "orphans" %}
                        class="nav-link active" aria-current="page"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'ticket-list' hospital.pk "orphans" %}"
            >
                <i style="color: black;" class="fas fa-hourglass-start"></i>&nbsp;
                {% translate "Oczekujące Zlecenia" %}
            </a>
        </li>
        <li class="nav-item">
            <a
                    {% if mode == "expires" %}
                        class="nav-link active" aria-current="page"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'ticket-list' hospital.pk "expires" %}"
            >
                <i style="color: black;" class="fas fa-hourglass-end"></i>&nbsp;
                {% translate "Przeterminowane Zlecenia" %}
            </a>
        </li>
        <li class="nav-item">
            <a
                    {% if mode == "attentions" %}
                        class="nav-link active" aria-current="page"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'ticket-list' hospital.pk "attentions" %}"
            >
                <i style="color: black;" class="fas fa-exclamation"></i>&nbsp;
                {% translate "Zlecenia z Uwagami" %}
            </a>
        </li>
    </ul>

    <div class="container-fluid">
        <div class="row">

            <div width="100%"
                 style="margin: 0 auto; margin-top: 20px; border: 3px red solid; padding: 20px; padding-bottom: 12px; border-radius: 20px; margin-bottom: 20px; background-color: white;">

                <h3><b>Szpital Bielański</b></h3>

            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10" style="margin: 0 auto;">
                        <table id="dtOrderExample" class="table table-striped table-hover table-bordered table-sm"
                               cellspacing="0" width="100%"
                               style="margin: 0 auto; margin-top: 20px; border: 3px red solid; padding: 20px; border-radius: 20px; margin-bottom: 18px; background-color: white;">
                            <thead>
                            <tr>
                                <th class="th-sm">Nr dokumentu
                                </th>
                                <th class="th-sm">Kod zlecenia
                                </th>
                                <th class="th-sm">Data ważności
                                </th>
                                <th class="th-sm">Przypisane łóżko
                                </th>
                                <th class="th-sm">Specjalne
                                </th>
                                <th class="th-sm">Saturacja
                                </th>
                                <th class="th-sm">
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.number }}</td>
                                    <td>{{ ticket.code }}</td>
                                    <td>{{ ticket.expiration_date }}</td>
                                    <td>{{ ticket.bed }}</td>
                                    <td>
                                        {% if ticket.respirator %}
                                            <i style="color: black;" class="fas fa-lungs"></i>
                                            {% translate "Respirator" %}
                                        {% endif %}
                                        {% if ticket.oxygen %}
                                            <i class="fas fa-wind"></i>{% translate "Tlen" %}
                                        {% endif %}
                                        {% if ticket.child %}
                                            <i class="fas fa-baby"></i>{% translate "Dziecko" %}
                                        {% endif %}
                                    </td>
                                    <td>Pocz: <b>{{ ticket.sat_begin }}</b>, Końc: <b>{{ ticket.sat_end }}</b></td>
                                    <td>
                                        <button type="button" class="buttonik">
                                            <i class="fas fa-cog"></i>&nbsp; Edycja
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}
    {% block extra_js %}
            <!-- Your custom scripts (optional) -->
    <script type="text/javascript">
        $(document).ready(function () {
        $('#dtOrderExample').DataTable({
        "order": [[ 3, "desc" ]],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Polish.json"
         },
          "aaSorting": [],
            columnDefs: [{
            orderable: false,
            targets: [5, 4, 3]
            }]
        });

        $('.dataTables_length').addClass('bs-select');
        });
    </script>
    {% endblock extra_js %}
