{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    {% block style %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">



        <!-- Bootstrap core CSS -->
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="{% static '/css/style.css' %}" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="{% static '/css/all.css' %}" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
              rel="stylesheet">

        {% block extra_style %}{% endblock %}
    {% endblock style %}

</head>

<body>
<div class="container-fluid">
    <div class="row">

        {% block filter %}
        {% endblock filter %}

        {% block content %}
            <div class="container mt-4">
                {% block container %}
                    <div class="jumbotron py-5">
                        <div class="container">
                            <h1 class="display-3">Hello, world!</h1>
                            <p>This is a template for a simple marketing or informational website. It includes a large
                                callout called a jumbotron and three supporting pieces of content. Use it as a starting
                                point to create something more unique.</p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>

                            <div class="d-flex justify-content-center">
                                <img
                                        src="{% static 'vendors/images/webpack.png' %}"
                                        class="img-fluid"
                                        alt="webpack logo"
                                />
                            </div>

                        </div>
                    </div>
                {% endblock container %}
            </div>
        {% endblock content %}
    </div>
</div>


<!-- End your project here-->

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Data Table-->
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <!--Export table buttons-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <!--Export table button CSS-->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static '/js/mdb.min.js' %}"></script>
{#    <script src="{% static '/js/jquery.min.js' %}"></script>#}
    <script src="{% static '/js/scripts.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}

{% endblock js %}

</body>

</html>