* {font-family: 'Roboto', sans-serif;}

body {background-image: url('../img/bg.png'); overflow: scroll; }
 
.row {margin: 5px; margin-top: 10px;}

.medicine {font-size: 12px !important; margin-bottom: 2px;}

.outlined {border: 2px solid #5bc0de; margin-bottom: 15px !important;}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

table.dataTable tbody th, table.dataTable tbody td {
    font-size: 16px !important;
}

.dataTables_wrapper .dataTables_filter input {
    max-width: 400px;
    height: 30px;
    border: 2px #5bc0de solid !important;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 2px solid #ff0000 !important;
    background-color: white;
    background: white !important;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: black !important;
    border: none !important;
    background: #5bc0de !important;
        border: 2px solid #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
border-radius: 20px !important;
}

select {
    height: 30px;
    border: 2px #5bc0de solid !important;
    border-radius: 3px;
}

.table-bordered td, .table-bordered th {
   border: none !important;
}

.buttonik {
    margin: 0px;
    background-color: white !important;
    border: 2px #5bc0de solid !important;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 30px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    vertical-align: baseline;
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto !important -webkit-focus-ring-color;
}

[type=search] {
    outline-offset: 0px !important;
    -webkit-appearance: none;
}